/* Shira Shkarofsky Assignment 11, Stylesheet */

body {
	text-align:center;
	margin:0; padding:0;
	max-width: 100%;
}
img {max-width:100%;}

span.error {
	color:red;
}

#header {   
	font-family: verdana,arial,sans-serif;
	font-size: 1.4em;
	padding: 2% 0 2% 0;
	width:100%;
	background-color:#388D38;
} 
#header a {color:black; text-decoration:none; width: 100%;}

#homeTable {
	width: 85%; text-align:center;
	margin:0 auto;
	font-size: 1.2em;
	
}

#homeTable  td{
	width: 45%; margin: 10%; padding: 5% 0;
	background-color:#E8EDD9;
}
#homeTable td:hover {background-color: #f5ed5b;}
#homeTable a {
	color:black; text-decoration:none; width: 100%;
}
.magGlass {
	width: 30%;
}

.searchForm {min-height: 200px; padding: 0 0 5% 0;}

table.gridtable {
	padding:0; 
	margin: 0 auto;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #E8EDD9;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

#footer { 
	background-color: #388D38;
	width: 100%;
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	position:relative;
	bottom:0;
	text-align:center;
	height:70px;
	padding-top: 10px;

}
